body {
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
}

#header {
    position: absolute;
    top: 0;
    left: 50;
    width: 90dvw;
    height: 8vh;
    background-color: #3e049b;
    border: 5px solid #ff0100;
    text-align: center;
    border-radius: 10px;
    font-size:xx-large;
    text
}

#howManyPairs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5dvh;
    width: 300px;
    background-color: #3498db;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid black;
    z-index: 2;
}

#howManyPairs input {
    height: 20px;
    width: 30px;
    font-size: 10px;
    margin-bottom:5px;
    text-align: center;
}

#howManyPairs button:hover {
    background-color: #45a049;
}

.card {
    position: relative;
    width: 120px;
    height: 120px;
    perspective: 1000px; /* 3D efftect */
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

/* Front and back faces of the card */
.card .front {
    transform: rotateY(0deg);
    z-index: 2;
    border-radius: 20px;
}

.card .back {
    transform: rotateY(180deg);
    border-radius: 20px;
}

.card.flipped .front {
    transform: rotateY(180deg); /* Hide front image */
}

.card.flipped .back {
    transform: rotateY(0deg); /* Show back image */
}

.blank {
    width: 100%;
    height: 100%;
    background-color: transparent;
}